:root {
  --menu-grey: #484f55;
  --list-grey: #303539;
  --yellow: #db9c1e;
  --box-size: 5.5vw;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;
  color: black;
  background-color: white;

  display: grid;
  grid-template-areas:
    "aside section"
    "aside main"
    "aside footer";
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 35rem 1fr auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* ---Logo---------------------------------------------- */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: -5px 0;
}

.logo h1 {
  width: 8rem;
  color: lightgreen;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  line-height: 17%;
  text-shadow: 2px 1px black;
}

.logo span {
  margin: -4px;
  font-size: 0.75rem;
}

/* ----------------------------------------------------- */

section {
  grid-area: section;
  background-color: rosybrown;
}

/* ----------------------------------------------------- */

aside {
  background-color: var(--menu-grey);
  color: white;
  grid-area: aside;
  position: sticky;
  top: 0;
  align-self: start;
  height: 100vh;
}

.menu {
  background-color: var(--list-grey);
  padding: 1.2rem 0;
  text-align: center;
  border-left: 0.3rem solid red;
  margin-bottom: 0.1rem;
}

/* ----------------------------------------------------- */

main {
  grid-area: main;
  padding: var(--box-size);

  & h2 {
    font-size: 2rem;
    font-weight: 300;
    margin-top: 0;
    text-align: center;

    &+p {
      text-align: center;
    }
  }

  & .flag {
    border-top: 5px solid var(--yellow);

    & span {
      font-size: 1.3rem;
      display: inline-block;
      padding: 1.5rem;
      background-color: var(--yellow);
      color: white;
    }

    &+.cards {
      display: grid;
      grid-template-areas:
        "pic1 pic2 pic3"
        "textarea textarea pic4";
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

/* ----------------------------------------------------- */

footer {
  grid-area: footer;
}

/* ----------------------------------------------------- */
