* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  color: black;
  text-align: center;
  background-color: white;

  display: grid;
  grid-template-areas:
    "aside section"
    "aside main"
    "aside footer";
  grid-template-columns: 20rem 1fr;
  grid-template-rows: 35rem 1fr auto;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

/* ---Logo---------------------------------------------- */

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin: -5px 0;
}

.logo h1 {
  width: 8rem;
  color: darkgreen;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
  line-height: 17%;
}

.logo span {
  margin: -4px;
  font-size: 0.75rem;
}

/* ----------------------------------------------------- */

section {
  grid-area: section;
  background-color: rosybrown;
}

aside {
  background-color: grey;
  grid-area: aside;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
